<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- load properties file: sport.properties-->
	<context:property-placeholder location="classpath:sport.properties"/>
    <!-- Define your beans here -->
    
    
	<!-- Define your dependencies -->
	<bean id="myFortune"
			class="com.spring.springdemo.HappyFortuneService">
	</bean>

    <bean id="myCoach"
    	class="com.spring.springdemo.TrackCoach">
    	<!-- set up constructor injection -->
    	<constructor-arg ref="myFortune" />
    </bean>
    
    <bean id="myCricketCoach" 
    		class="com.spring.springdemo.CricketCoach">
    	 <!-- set up setter injection -->
		<!--the "name" attribute will call the setFortuneService() -->
    	 <property name="fortuneService" ref="myFortune"/>
    	 <!-- inject literal values into fields -->
    	 <!-- <property name="emailAddress" value="hello@gmail.com"/>
    	 <property name="team" value="Sunrisers"/> -->
    	 
    	 <!-- inject literal values using property file -->
    	 <property name="emailAddress" value="${foo.email}"/>
    	 <property name="team" value="${foo.team}"/>
    </bean>
    
	<bean id="myCoach2"
    	class="com.spring.springdemo.TrackCoach">
    	<constructor-arg ref="myFortune"/>
    </bean>
    
    <bean id="myCoach3"
    	class="com.spring.springdemo.SoccerCoach">
    	<constructor-arg ref="myFortune"/>
    </bean> 
</beans>





